.CalcRow {

    position: relative;

    &__image {

        display: inline-block;
        max-height: 100px;
    }

    &__count {

        position: absolute;
        top: 38px;
        right: 10%;

        font-size: 1.7rem;
        font-weight: bold;
    }

    &__button {

        @include responsive(sp) {
            width: 59px;
            height: 24px;

            font-size: 1.0rem;
        }
        @include responsive(tb) {
            width: 73px;
            height: 30px;

            font-size: 1.2rem;
        }
        @include responsive(pc) {
            width: 118px;
            height: 40px;

            font-size: 1.5rem;
        }

        font-weight: bold;
    }
}