@mixin hoverButton($color, $bgColor) {

	position: relative;
	display: inline-block;
	
	font-weight: bold;
	text-decoration: none;
	
	cursor: pointer;

    background-color: $bgColor;
    color: $color;

    border: 1px solid $color;

    transition: .7s;

    &:hover {
        background-color: $color;
        color: $bgColor;
    }

}